{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-console": "off",
    "no-param-reassign":"off",
    "operator-linebreak": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "max-classes-per-file": "off",
    "react/prefer-stateless-function": 0,
    "react/destructuring-assignment": "off",
    "react/button-has-type": "off",
    "react/jsx-props-no-spreading": "off",
    "react/static-property-placement": "off",
    "react/jsx-one-expression-per-line": "off"
  }
}